/*MAIN*/
banner img{
    width: 100%;
    max-width: 100vw;
  }
  
/* DESTACADOS */

main h2{
  margin: 1.4rem 0;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.slider {
  margin-top: 0rem;
  width: 100 vw;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;  
  padding: 0 .7rem;
}
.slide {
  flex-shrink: 0;
  display: flex;
}
.articulo{
  padding:0 0.4rem;
  width: 16.5rem;
}
.articulo article{
  background-color: var(--cremaCajas) ;
  /* border: 5px solid var(--marroncito); */
  border-radius: 1rem;
  padding: .7rem;
}
.articulo article div.image{
  width:100%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.articulo article div.image img{
  max-width: 100%;
  max-height: 14rem;
  border-radius: 1rem;
}
.description{
  height: 7rem;
  position: relative;
}
.description a.nombre{
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  margin-top: .4rem;
  margin-bottom: 0.4rem;
  
}
.description a.price{
  font-size: 1.8rem;
  text-decoration: none;
  position: absolute;
  bottom: -0.5rem;
  color: var(--bs-success);
}

/* MENU */
.banner2{
  background-color: var(--marroncito);
  margin-top: 2rem;
  height: 9vh;
  padding: .002rem;
  padding-left: 8rem;
  margin-bottom: 2rem;
}
.banner2 h2{
  font-size: 4vh;
}
section div.section{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.7rem;
  margin-right: 0.6rem;
  margin-top: 0.7rem;
}
section div.section article{
  display: flex;
  flex-wrap: wrap;
  padding: .6rem;
}
section div.section article div.caja{
  background-color: var(--cremaCajas);
  padding: .6rem;
  padding-bottom: 0;
  border-radius: 4%;
  width: 100%;
}
section div.section article div.caja div.image a img{
  width: 100%;
  border-radius: 25%;
}
section div.section article div.caja div.epigrafe{
  margin-top: .6rem;
}
section div.section article div.caja div.epigrafe p{
  font-size: 2.4rem;
  text-align: center;
}