<div class="nada"><h6>nada</h6></div>
<header id="#header">
    <nav>
      <div class="navigation">
       
        <a href="#barra" class="link"><i class="fas fa-bars"></i></a>
        <div class="nav-bg" id="barra">
          <ul class="barra-nav">
            <% if (locals.user) { %>
              <li class="item-li"><a href="/user/logout" class="item-nav">Cerrar sesión</a></li>
              <li class="item-li"><a href="/user/profile" class="item-nav">Mi perfil</a></li>
            <% } %>
            <% if (!locals.user) { %>
              <li class="item-li"><a href="/user/login" class="item-nav">Iniciar sesión</a></li>
              <li class="item-li"><a href="/user/register" class="item-nav">Registrarme</a></li>
            <% } %>           
            
            <li class="item-li"><a href="/user/micarrito" class="item-nav">Mi carrito</a></li>
            <li class="item-li"><a href="#" class="item-nav">Mis favoritos</a></li>
            <li class="item-li"><a href="/category/vinilos" class="item-nav">Vinilos</a></li>
            <li class="item-li"><a href="/category/cassettes" class="item-nav">Cassettes</a></li>
            <li class="item-li"><a href="/category/cds" class="item-nav">CD'S</a></li>
            <li class="item-li"><a href="/category/speakers" class="item-nav">Periféricos</a></li>
          </ul>
          <a href="#header" class="cross">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
        <a href="/" class="titulo-grande">
          <h1>VNTG SOUND</h1>
        </a>
        <a href="#searching" class="link-lupa"><i class="fas fa-search"></i></a>


      <div class="caja-busqueda" id="searching">
        <form action="/search" method="GET">
          <div class="caja-no-busqueda">
            <input type="search" class="busqueda" placeholder="Busca un producto..." name="search" <% if (typeof query != 'undefined') { %>value="<%= query %> "<% } %> >
            <a href="#" class="cross">
              <i class="fas fa-times"></i>
            </a> 
            <button type="submit" class="boton-busqueda">
              <i class="fas fa-search submitt"></i>
            </button>
          </div>
        </form>
      </div>


    </nav>
  </header>