<html>
  <!-- HEAD -->
  <%- include('partials/head') %>   
  <link rel="stylesheet" href="/stylesheets/categorySub.css">
</head>
  <body>
    <div class="contenedor">
      <!-- HEADER -->
      <%- include('partials/header') %> 
      <main>
        <div class="banner2 fluid">
          <h3><%=title%></h3>
        </div>
        <h2>
          Ofertas:
        </h2>
        
        <div class="slider-destacados">
          <div class="slider">
            <div class="slide">
              <div class="articulo d-block">
                <article class="">
                  <div class="image">
                    <a href="/search"><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007 FREE VIRUS UN LINK MEGA EN LA DESCRIPCIÓN</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/KASE-O-Dentro-de-El-Círculo.png" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/victor-heredia-clarin.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007 CD NUEVO LASER DISC</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="/images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description-slider row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
            </div>

          </div>
        </div>




        <!-- ARTÍCULOS -->

        <section>
          <article>
              <div class="img-article-busqueda">
                  <a href="#" class="link-imagen-article">
                      <img src="/images/eminem-the-eminem-show.webp" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                          NUEVO
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="#" class="link-titulo-article">
                      <h3>
                          DISCO EMINEM THE EMINEM SHOW VINILO EDICIÓN 2017
                      </h3>
                  </a>
                  <p class="price-articles">
                      $30.450
                  </p>
                  <a href="#" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>


          <article>
              <div class="img-article-busqueda">
                  <a href="#" class="link-imagen-article">
                      <img src="/images/lali-esposito-libra.webp" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                          NUEVO
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="#" class="link-titulo-article">
                      <h3>
                          LALI ESPÓSITO "LIBRA" 2015
                      </h3>
                  </a>
                  <p class="price-articles">
                      $3.450
                  </p>
                  <a href="#" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>

          <article>
              <div class="img-article-busqueda">
                  <a href="#" class="link-imagen-article">
                      <img src="/images/bandalos-chinos-bach.webp" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                          USADO
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="#" class="link-titulo-article">
                      <h3>
                          BÁNDALOS CHINOS "BACH" EDICIÓN 2013
                      </h3>
                  </a>
                  <p class="price-articles">
                      $1.250
                  </p>
                  <a href="#" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>
          <article>
              <div class="img-article-busqueda">
                  <a href="#" class="link-imagen-article">
                      <img src="/images\victor-heredia-clarin.jpg" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                          NUEVO
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="#" class="link-titulo-article">
                      <h3>
                          VICTOR HEREDIA "CLARÍN" CD NUEVO 2020
                      </h3>
                  </a>
                  <p class="price-articles">
                      $3.450
                  </p>
                  <a href="#" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>
          <article>
              <div class="img-article-busqueda">
                  <a href="#" class="link-imagen-article">
                      <img src="/images\KASE-O-Dentro-de-El-Círculo.png" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                          NUEVO
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="#" class="link-titulo-article">
                      <h3>
                          KASE.O "DENTRO DEL CÍRCULO" DVD DOCUMENTAL 2019 LASER DISC ORIGINAL
                      </h3>
                  </a>
                  <p class="price-articles">
                      $970
                  </p>
                  <a href="#" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>

      </section>
      </main>

      
      <!-- FOOTER -->
      <%- include('partials/footer') %> 
  </body>
</html>