<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <%- include('partials/head') %> 
  <body>
    <div class="contenedor">
      <div class="nada"><h6>nada</h6></div>
      <!-- HEADER -->
      <%- include('partials/header') %> 
      <main>
        <banner class="fluid col-12">
          <img src="images/banner-prueba.png" alt="banner">
        </banner>
        <h2>Nuestros destacados:</h2>
        
        
        <div class="slider-destacados">
          <div class="slider">
            <div class="slide">
              <div class="articulo d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007 CD NUEVO LASER DISC</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price success">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
              <div class="articulo col-1 d-block">
                <article class="">
                  <div class="image">
                    <a href=""><img src="images/rem-live-in-milan.jpg" alt="Imagen"></a>
                  </div>
                  <div class="description row">
                    <a href="" class="nombre">REM Live in Milan 2007</a>
                    <a href="" class="price">$9.078</a>
                  </div>  
                </article>
              </div>
            </div>

          </div>
        </div>



          <!-- MENÚ -->
        <div class="banner2 fluid">
          <h2>ELEGÍ LO TUYO...</h2>
        </div>

        <section>
          <div class="section">
            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href=""><img src="images/caja-vinilos.webp" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>VINILOS</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href=""><img src="images/caja-vinilos.webp" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>CD'S</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href=""><img src="images/caja-vinilos.webp" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>CASSETTES</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href=""><img src="images/caja-vinilos.webp" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe" name="1">
                  <p>PERIFÉRICOS</p>
                </div>
              </div>
            </article>
          </div>
        </section>

      </main>
      <!-- FOOTER -->
      <%- include('partials/footer') %> 
  </body>
</html>
