<html>
<!-- HEAD -->
<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
    </head>

    <body>
        <div class="contenedor">
            <!-- HEADER -->
            <%- include('partials/header') %>
            <main>
                <div class="caja-login">
                    <h2 class="login-title">Iniciar Sesión:</h2>
                    
                    <form class="form-login-bt" method="POST" action="">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            name="email" placeholder="vntgsound@hotmail.com">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1"
                          name="pass">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="rememberme" name="rememberme">
                          <label class="form-check-label" for="rememberme">Recordarme</label>
                        </div>
                        <% if (typeof error !== 'undefined') { %>
                            <div class="mb-3">
                                <p class="text-danger error-danger">
                                    <%= error %> 
                                </p>
                            </div>
                        <% } %>
                        <button type="submit" class="btn btn-primary btn-submit-login">Iniciar Sesión</button>
                        <a href="/user/register" class="btn btn-success btn-login-register">Crear mi cuenta</a>
                      </form>

                </div>
            </main>
                

            <!-- FOOTER -->
            <%- include('partials/footer') %>
    </body>

</html>