<html>
<!-- HEAD -->
<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    </head>

    <body>
        <div class="contenedor">
            <!-- HEADER -->
            <%- include('partials/header') %>
            <main>
                REGISTER
            </main>
                

            <!-- FOOTER -->
            <%- include('partials/footer') %>
    </body>

</html>