<html>
<!-- HEAD -->
<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/register.css">
    </head>

    <body>
        <div class="contenedor">
            <!-- HEADER -->
            <%- include('partials/header') %>
            <main>
                <div class="caja-login">
                    <h2 class="login-title">Registrate:</h2>

                    <form class="form-login-bt">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                          name="email" placeholder="vntgsound@hotmail.com">
                        </div>
                        <div class="mb-3">
                            <label for="email-confirm" class="form-label">Repetí tu email</label>
                            <input type="email" class="form-control" id="email-confirm" aria-describedby="emailHelp"
                            name="email-confirm" placeholder="vntgsound@hotmail.com">
                        </div>

                        <div class="mb-3">
                          <label for="pass" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="pass"
                          name="pass">
                        </div>
                        <div class="mb-3">
                            <label for="pass-confirm" class="form-label">Repetí tu contraseña</label>
                            <input type="password" class="form-control" id="pass-confirm"
                            name="pass-confirm">
                        </div>

                        <button type="submit" class="btn btn-success btn-submit-login">Crear mi cuenta</button>
                        <a href="/user/login" class="btn btn-primary btn-login-register">Ya tengo cuenta, iniciar sesión</a>
                      </form>

                </div>
            </main>
                

            <!-- FOOTER -->
            <%- include('partials/footer') %>
    </body>

</html>