/* CSS: */
*,
*::before,
*::after {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}
body {
 margin: 0;
 padding: 0;
 background: #e84118;
 box-sizing: inherit;
}



/* INPUT QUE CAE */
header{
    background-color:burlywood;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.titulon{
    text-decoration: none;
    color: brown;
    font-size: 7.5rem;
}
.fa-bars{
    font-size: 7rem;
    display: block;
    color: brown;
}
.link{
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.link-lupa i.fa-search{
    font-size: 6rem;
    padding: 0 20px;
    color: brown;
    cursor: pointer;
}
.link-lupa{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.caja-busqueda{
    background-color: burlywood;
    z-index: 5;
    height: 8vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-8vh);
    transition: all .2s;
}
.busqueda{
    border: 2px solid brown;
    background-color: burlywood;
    display: inline-block;
    height: 5vh;
    width: 75vw;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-size: 5rem;
    padding: 0 2rem;
    color: brown;
}
.boton-busqueda{
    background-color: transparent;
    border: none;
}
.submitt{
    font-size: 6rem;
    padding: 2rem 2rem;
    color: brown;
    background-color: burlywood;
    border: 0.2rem solid brown;
    height: 5vh;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}
.cross{
    font-size: 7rem;
    background-color: burlywood;
    color: brown;
    border: 0.2rem solid brown;
    height: 5vh;
    padding: 1rem 2rem;
}

.caja-busqueda:target {
    visibility: visible;
    opacity: 1;
    transform: translateY(-0.1vh);
}























 /* LUPA QUE SE EXPANDE  */

.buscar-caja {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
 box-sizing: content-box
}

.buscar-caja:hover > .buscar-txt {
 width: 240px;
 padding: 0 6px;
 box-sizing: content-box
}

.buscar-caja:hover > .buscar-btn {
 background: white;
 color: black;
 box-sizing: content-box
}

.buscar-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
 box-sizing: content-box
}

.buscar-btn > i {
 font-size: 25px;
 box-sizing: content-box
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
 box-sizing: content-box
}